<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Feedback System</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/icofont/icofont.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='vendor/aos/aos.css')}}" rel="stylesheet">
  
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

</head>
<body>
  
  <header id="header" class="d-flex align-items-center"> 
    <div class="container"> 
      <div class="logo d-block d-lg-none">
        <a href="index.html"><img src="{{url_for('static',filename='img/logo.png')}}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">Feedback</a></li>
          <li><a href="#services">Send us feedback</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">
    <section id="services" class="services">
      <div class="container">
        <div class="section-title" >
          <h2>feedback form</h2>
        </div>
        <div class="row">
          <div class="col-lg-12 order-2 order-lg-1" >
            <form action="/predict" method="POST">
            <div class="icon-box mt-5 mt-lg-0" >
              <i class="bx bx-list-plus"></i>
              <h4>Course</h4>
              <select name="languages" id="lang" style="margin-bottom: 30px; border-color: gray; padding: 5px;">
                <option value="select">Select a course</option>
                {% for course in courses %}
                    <option value=" {{ course['name'] }}"> {{ course['name'] }}</option>
                {% endfor %}
              </select>
            </div>
              
            <div class="icon-box mt-5 mt-lg-0" >
              <i class="bx bx-receipt"></i>
              <h4>Teaching</h4>
              <div class="form-group">
                  <textarea required class="form-control" id="teaching" name="teaching" rows="1" placeholder="How could you describe the teaching of the faculty?"></textarea>
              </div>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Comprehension</h4>
              <div class="form-group">
                  <textarea required class="form-control" id="coursecontent" name="coursecontent" rows="1" placeholder="How is learning experience in offline mode after 2 years of virtual teaching?"></textarea>
              </div>
            </div>
            <div class="icon-box mt-5" >
              <i class="bx bx-images"></i>
              <h4>Examination</h4>
              <div class="form-group">
                  <textarea required class="form-control" id="examination" name="examination" rows="1" placeholder="Are you satisfied with difficulty level and the way offline exams are conducted? Suggest improvements if any.."></textarea>
              </div>
            </div>
            <div class="icon-box mt-5" >
              <i class="bx bx-shield"></i>
              <h4>Course Content</h4>
              <div class="form-group">
                  <textarea required class="form-control" id="labwork" name="labwork" rows="1" placeholder="Is course content and material provided to you sufficient for clearing concepts?"></textarea>
              </div>
            </div>
            <div class="icon-box mt-5" >
              <i class="bx bx-book"></i>
              <h4>Interaction</h4>
              <div class="form-group">
                  <textarea required class="form-control" id="libraryfacilities" name="libraryfacilities" rows="1" placeholder="Was faculty reachable for doubt solving or for any other concerns?"></textarea>
              </div>
            </div>
            <div class="icon-box mt-5" >
              <i class="bx bx-run"></i>
              <h4>Behaviour</h4>
              <div class="form-group">
                  <textarea required class="form-control" id="extracurricular" name="extracurricular" rows="1" placeholder="How could you describe behaviour of faculty with students. Mention the complaint if any"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12" align="center">
                <input class="col-sm-4 btn btn-success" type="submit" value="Submit Feedback">
              </form>
              </div>
            </div>
        </div>
      </div>
    </section>
  </main>
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/jquery-sticky/jquery.sticky.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/venobox/venobox.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/aos/aos.js')}}"></script>


  <script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>

</html>